@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 0 50px 10px rgba(78, 78, 78, 0.3);
  --boxShadow2: 0px 0px 50px rgba(150, 150, 150, 0.3);
  --transition: all 0.3s linear;
  --transition2: all 0.5s ease-out;
  --transition3: all 0.5s ease-in;
  --border: 2px solid rgb(228, 7, 166);
  --border2: 2px solid rgb(28, 28, 192);
  --border3: 2px solid rgb(9, 224, 88);

  /* variables for this project */
  --White: hsl(0, 0%, 100%);
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body {
  display: grid;
  font-family: "Epilogue", "Open Sans", Arial, Helvetica, sans-serif;
  place-items: center;
  background-color: var(--Almost-White);
}

p,
li,
ul,
a {
  color: var(--Medium-Gray);
  list-style-type: none;
  text-decoration: none;
}

.section {
  margin-bottom: 5rem;
  position: relative;
}

.overlay {
  background: hsla(0, 0%, 41%, 0.7);
  display: none;
  inset: 0;
  position: absolute;
  z-index: 1;
}

/* Navbar section */
.navbar {
  padding: 2rem;
}

.navbar img {
  cursor: pointer;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  background: var(--White);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transition: var(--transition2);
  width: 18rem;
  z-index: 11;
}

.show-navbar .nav-menu,
.show-navbar .overlay {
  display: flex;
  transform: scale(1);
  transition: var(--transition3);
}

.nav-close {
  align-self: flex-end;
}

.nav-menu a {
  display: block;
  margin: 1rem;
}

.nav-menu a:hover {
  color: var(--Almost-Black);
  font-weight: 700;
  transition: var(--transition);
}

.nav-lists > a {
  margin: 1rem 0 2rem;
}

.nav-menu > p {
  align-self: center;
}

.nav-lists li {
  display: flex;
}

.features-header,
.about-header {
  display: flex;
}

:is(.features-header, .about-header) a {
  margin-left: 0;
}

.features-lists,
.about-lists {
  background-color: var(--Almost-White);
  margin: 0;
  max-height: 0;
  padding: 0;
  transform: scale(0);
  transition: var(--transition);
}

:is(.features-lists, .about-lists) a:hover {
  text-decoration: underline;
}

.show-lists .arrow-up {
  transform: rotate(180deg);
  transition: var(--transition);
}

.nav-logins {
  text-align: center;
}

.nav-btn.btn {
  background: none;
  border-radius: 1rem;
  border: 2px solid var(--Medium-Gray);
  color: var(--Medium-Gray);
  margin: 1rem 0;
  outline: none;
  padding: 0.7rem 3rem;
}

/* for js */
.show-lists .features-lists,
.show-lists .about-lists {
  margin: 0.2rem 0 1.5rem;
  max-height: fit-content;
  padding: 0.2rem 0.5rem 0.2rem 1.5rem;
  transform: scale(1);
}

/* for nav-menu */
@media (min-width: 48rem) {
  .navbar {
    padding: 0 2rem;
    position: relative;
    z-index: 11;
  }

  .nav-container {
    align-items: center;
    display: flex;
    gap: 1.5rem;
  }

  .nav-menu-ctn {
    width: 100%;
  }

  .nav-menu {
    background: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 0;
    position: static;
    transform: scale(1);
    width: 100%;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-lists {
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  .nav-menu a,
  .nav-menu .btn {
    margin: 0;
  }

  .nav-lists img {
    cursor: pointer;
    margin: 0 1rem;
  }

  .nav-lists li a,
  .about-lists a {
    margin: 1rem 1rem 1rem 0.25rem;
  }

  .features,
  .about {
    position: relative;
  }

  .features-lists,
  .about-lists {
    border: var(--border);
    background: var(--White);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px hsla(0, 0%, 41%, 0.3);
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 1.5rem;
    white-space: nowrap;
  }

  .features-lists {
    left: -2rem;
  }

  .nav-logins {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .overlay {
    background: none;
    display: block;
  }
}

.mobile-mock-up {
  margin: 3rem 0;
  width: 100%;
}

.desktop-mock-up {
  display: none;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.article > h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.article > p {
  line-height: 1.5;
  text-align: center;
}

.btn {
  align-self: center;
  background-color: var(--Almost-Black);
  border-radius: 1rem;
  border: none;
  color: var(--Almost-White);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0 4rem;
  outline: none;
  padding: 1.1rem 2rem;
}

.clients {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* footer styles */
.my-profile {
  align-items: center;
  background-color: hsl(228, 59%, 16%);
  color: white;
  display: flex;
  font-size: 14px;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.my-profile > a {
  cursor: pointer;
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

/* media query */
@media screen and (min-width: 48rem) {
  .section {
    height: auto;
    padding: 2rem 0;
    width: auto;
    max-width: 1400px;
  }

  .main-content {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    margin: 4rem 0;
    padding: 0 2rem;
  }

  .article {
    align-self: flex-end;
    gap: 1rem;
  }

  .article h1 {
    font-size: 3rem;
    text-align: left;
    transition: var(--transition);
  }

  .article p {
    padding-right: 3rem;
    text-align: left;
  }

  .article .btn {
    align-self: flex-start;
  }

  .mobile-mock-up {
    display: none;
  }

  .desktop-mock-up {
    display: block;
    width: 50%;
  }
}

@media screen and (min-width: 65rem) {
  .navbar {
    padding: 0 4rem;
  }

  .nav-container {
    flex-direction: row;
  }

  .nav-lists {
    gap: 4rem;
    padding: 0 2rem;
  }

  .desktop-mock-up {
    max-width: 30rem;
  }

  .nav-logins {
    gap: 2rem;
    flex-direction: row;
  }

  .main-content {
    padding: 0 5rem;
    gap: 6rem;
  }

  .article {
    gap: 3rem;
  }

  .article h1 {
    font-size: 5rem;
    transition: var(--transition);
  }
}

@media screen and (max-width: 500px) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}
